* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bubbly-font";
  src: url("fonts/Bigbesty/Bigbesty.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #4c763b;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: "bubbly-font";
  color: #ffd93d;
}

.title h1 {
  justify-content: center;
  align-items: center;
}

.books-container {
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
}

.books {
  display: flex;
  flex-direction: column;
  border: dotted 2px white;
  width: 30vh;
  height: 30vh;
}

.p-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px;
  gap: 5px;
}
