* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "bubbly-font";
  src: url("fonts/Bigbesty/Bigbesty.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #4c763b;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-family: "bubbly-font";
  color: #ffd93d;
}

.title h1 {
  justify-content: center;
  align-items: center;
}

.books-container {
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.card {
  display: inline-block;
  flex-direction: column;
  border: solid 2px white;
  margin: 0.5rem;
  width: 280px;
  height: auto;
}

/* keeps submit button at the bottom no matter what*/
.form-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.book-form-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.book-form {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.text-in-card {
  display: inline-block;
  font-family: "bubbly-font";
  margin: 1rem 0 1rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
}

.label {
  color: #d4d925;
}
.remove-button {
  background-color: #ffd93d;
  color: black;
  padding: 0.3rem;
  height: 2rem;
  border-radius: 10%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.read-button {
  background-color: #ffd93d;
  color: black;
  float: right;
  padding: 0.3rem;
  height: 2rem;
  border-radius: 10%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
